* {
  margin: unset;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.btn {
  display: inline-block;
  transition: all var(--transition-03s);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 h5,
h6 {
  letter-spacing: -0.025em;
}

button:focus-visible,
a:focus-visible {
  outline: solid var(--clr-light);
}

html {
  scroll-behavior: smooth;
}

/* WebKit browsers only */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--clr-bg-stone-100);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-stone-600);
  border-radius: 6px;
  border: 3px solid var(--clr-bg-stone-100);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-light);
  outline: 1px solid var(--clr-light);
}

:root {
  /* Fontfamily */
  /* --font-fam-primary: "Montserrat", sans-serif;
  --font-fam-secondary: "Fraunces", serif; */

  /* COLOR */
  /* --clr-bg-cream: hsl(30, 38%, 92%);
  --clr-gray: hsl(228, 12%, 48%);
  --clr-green500-button: hsl(158, 36%, 37%);
  --clr-green700-active-button: hsl(158, 42%, 18%);
  --clr-black: hsl(212, 21%, 14%);
  --clr-white: hsl(0, 0%, 100%); */

  /* LETTER SPACING */
  /* --ls-0px: 0px;
  --ls-5px: 0.5em; */

  /*  LINE HEIGHT */
  /* --lh-100: 1;
  --lh-160: 1.6;
  --lh-110: 1.1;
  --lh-120: 1.2; */
  /* BORDER RADIUS */
  /* --br-24px: 1.5rem;
  --br-12px: 0.75rem; */

  /* SPACING */
  /* --size-4px: 0.25rem;
  --size-8px: 0.5rem;
  --size-12px: 0.75rem;
  --size-14px: 0.875rem;
  --size-16px: 1rem;
  --flow-1rem: 1rem;
  --size-18px: 1.125rem;
  --size-20px: 1.25rem;
  --size-24px: 1.5rem;
  --size-28px: 1.75rem;
  --size-1x8px: 1.8rem;
  --size-32px: 2rem;
  --size-36px: 2.25rem;
  --size-40px: 2.5rem;
  --size-48px: 3rem;
  --size-60px: 60px;
  --size-72px: 4.5rem;
  --size-96px: 6rem;
  --size-128px: 8rem;
  --size-160px: 160px; */

  /* font weight */
  /* --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700; */
}
